.form-container {
    display: flex;
    justify-content: center;
    align-items: center;     
    padding: 20px;
}

.login-form {
    width: 100%;
    max-width: 400px;
    display: flex;
    flex-direction: column;
    gap: 12px;

    padding: 30px;
    background-color: #1b1b1b;
    color: #929292;
    border-radius: 10px;
}

.login-form input,
.login-form button {
    padding: 12px;
        font-size: 16px;
}
.login-form input::placeholder {
    color: #b0b0b0;
}