{% extends "base.html" %}

{% block title %}
Login - BuildBetter
{% endblock %}

{% block styles %}
<link rel="stylesheet" href="{{ url_for('static', filename='forms.css') }}">
{% endblock %}

{% block underConstruction %}
{% endblock %}

{% block content %}
<div class="form-container">
    <form id="login-form" class="account-form" method="post" action="{{ url_for('auth.login') }}">
        <h2>Login</h2>
        <label for="username">Username</label>
        <input type="text" id="username" name="username" required>
        <label for="password">Password</label>
        <input type="password" id="password" name="password" required>
        <p id="login-message" role="alert"></p>
        <button type="submit">Login</button>
    </form>
</div>
<p>
    Don't have an account?
    <span class="register-link"><a href="{{ url_for('auth.register') }}">Register here</a></span>.
</p>

<script
    src="{{ url_for('static', filename='js/login.js') }}"
    type="module"
></script>
{% endblock %}
